*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COLORS */
  /* PRIMARY */
  --clr-accent: hsl(158, 36%, 37%);
  --clr-bg: hsl(30, 38%, 92%);
  /* NEUTRAL */
  --clr-heading: hsl(212, 21%, 14%);
  --clr-text: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-dark: 0, 0%, 0%;

  /* FONTS */
  /* FONT FAMILY */
  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-fraunces: 'Fraunces', serif;
  /* FONT WEIGHT */
  --fw-medium: 500;
  --fw-bold: 700;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-family: var(--ff-montserrat);
  background-color: var(--clr-bg);
  color: var(--clr-text);
  padding: 1.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

img,
picture {
  max-width: 100%;
  display: block;
}

#card {
  width: 37.5rem;
  background-color: var(--clr-white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 0.75rem;
  overflow: hidden;
}

.content {
  padding: 2rem;
}

#category {
  font-weight: var(--fw-medium);
  font-size: 0.75rem;
  color: var(--clr-text);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.product-title {
  font-weight: var(--fw-bold);
  font-size: 2rem;
  font-family: var(--ff-fraunces);
  color: var(--clr-heading);
  line-height: 0.97;
  margin-block: 1.25rem 1.5rem;
}

.product-description {
  line-height: 1.65;
}

.price {
  display: flex;
  align-items: center;
  gap: 1.1875rem;
  margin-block: 1.25rem;
}

.current-price {
  font-family: var(--ff-fraunces);
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
}

.original-price {
  font-size: 0.8125rem;
  text-decoration: line-through;
}

.cta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6875rem;
  font-family: inherit;
  font-weight: var(--fw-bold);
  font-size: inherit;
  padding-block: 0.9rem;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  text-wrap: balance;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

@media screen and (max-width: 640px) {
  #card {
    width: 21.5rem;
    grid-template-columns: 1fr;
  }

  .content {
    padding: 1.5rem;
  }

  .product-title {
    margin-block: 0.75rem 1rem;
  }

  .price {
    margin-block: 1rem;
  }
}
